
/* --- spider --- */
html {
    background: #5745c2;
}

html:hover .spider {
    top: -120%;
}

.spiderweb {
    background: #fff;
    width: 2px;
    height: 200px;
    margin-left: 49px;
    transition: 1s ease-in-out;
}

.spider {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 30%;
    animation: swing 2s ease-in-out infinite;
    transform-origin: top;
    transition: 1s ease-in-out;
}

.spider .body {
    background: #000;
    width: 100px;
    height: 80px;
    border-radius: 50%;
    position: relative;
}

.spider .body .eye {
    width: 33px;
    height: 33px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
}

.spider .eye.right {
    right: 15px;
}

.spider .eye.left {
    left: 15px;
}

.spider .eye::after {
    content: '';
    position: absolute;
    margin: 55%;
    width: 7px;
    height: 7px;
    background: #000;
    border-radius: 50%;
    animation: look 8s ease-in-out infinite;
}

.spider .legs {
    position: absolute;
    bottom: -10%;
    z-index: -1;

}

.spider .legs .leg {
    width: 80px;
    height: 40px;
    margin-top: -20px;
    background: #000;
    border: 5px solid transparent;
    border-top-color: #000;
    border-radius: 40px 40px 0 0;
}

.spider .legs.left {
    left: -70%;
}

.spider .legs.right {
    right: -60%;
}

.legs.left .leg:nth-child(1) {
    transform: rotate(10deg);
    margin-left: 10px;
}

.legs.right .leg:nth-child(1) {
    transform: rotate(-10deg);
    margin-left: -10px;
}

.legs.left .leg:nth-child(2) {
    transform: rotate(-20deg);
    margin-left: 20px;
}
.legs.right .leg:nth-child(2) {
    transform: rotate(20deg);
    margin-left: -20px;
}

.legs.left .leg:nth-child(3) {
    transform: rotate(-30deg);
    margin-left: 30px;
}
.legs.right .leg:nth-child(3) {
    transform: rotate(30deg);
    margin-left: -30px;
}

.legs.left .leg:nth-child(4) {
    transform: rotate(-40deg);
    margin-left: 40px;
}
.legs.right .leg:nth-child(4) {
    transform: rotate(40deg);
    margin-left: -40px;
}

@keyframes look {

 0%, 40%, 100% {
    transform: translateX(0);
 }
 45%, 95% {
    transform: translateX(-110%);
 }
}

@keyframes swing {

    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateX(-20px);
    }
}